.contact-body {
  background-color: rgb(22, 22, 22);
  z-index: 20;
  position: relative;
}
.contact-btn {
  transform: scale(0.8);
  max-height: 45px;
  min-height: 45px;
  max-width: 45px;
  min-width: 45px;
  border-radius: 50% !important;
}
.contact-btn-fill {
  max-height: 40px;
  min-height: 40px;
  max-width: 25px;
  min-width: 25px;
  border-radius: 50% !important;
}
.contact-info {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: small;
  word-wrap: break-word;
  max-width: 55vw;
  color: rgb(133, 139, 143);
}
.contact-container {
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
  margin-top: 2rem;
}
@media (max-width: 400px) {
  .contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  .contact-info {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-size: small;
    word-wrap: break-word;
    max-width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: rgb(133, 139, 143);
    margin-top: 2rem;
    
  }
}

.watermark-container {
  margin-top: 10px;
}
.watermark {
  font-size: small;
  color: rgb(133, 139, 143);
  margin-left: 5px;
}
