.custom-text {
  color: white;
  cursor: default;
  position: fixed;
  white-space: nowrap;
  font-size: 5vw !important;
}

.header {
  background-color: rgb(9, 2, 43);
  z-index: 45 !important;
  display: flex;
  justify-content: center;
  position: fixed !important;
  top: 0;
  max-height: 9vw !important;
  min-height: 8vw;
}

.button-hover {
  position: fixed !important;
  max-width: 5vw;
  max-height: 5vw;
  margin-top: 15px;
  margin-left: 15px;
  cursor: pointer;
  z-index: 50;
  transition: 200ms;
  top: 0;
}
.button-hover2 {
  position: fixed !important;
  cursor: pointer !important;
  z-index: 50;
  max-width: 4vw;
  max-height: 4vw;
  margin-top: 20px;
  margin-left: 20px;
  transition: 200ms;
  top: 0;
}

.menu-box {
  z-index: 40 !important;
  margin-left: -80px;
  margin-top: -100vw;
  width: 250px;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0 !important;
  transition: 650ms;
}
.menu-box-active {
  z-index: 40 !important;
  margin-left: -80px;
  margin-top: 7vw;
  width: 250px;
  display: flex;
  justify-content: center;
  position: fixed;
  top: -100px !important;
  transition: 350ms;
}
.page-line {
  font-size: xx-large;
  z-index: 0;
  margin-left: 48px;
  top: 100px;
  color: white;
  position: fixed;
  background-color: rgb(9, 2, 43);
}
