.sidebar {
  margin-top: 40px;
  height: 60px;
  background-color: rgb(22, 22, 22);
}
.menu-options {
  padding-top: 40px;
  max-height: 335px;
  min-height: 335px;
  margin-top: -120px;
  margin-left: 5px;
  background-color: rgb(22, 22, 22);
}
.menu-offset {
  margin-top: 95px;
  display: flex;
  flex-direction: column;
}
.menu-option {
  position: relative;
  font-size: small;
  margin-top: 10px;
  margin-left: 60px;
  align-self: flex-start;
  padding-bottom: 10px;
  color: white;
}
.menu-option :hover {
  color: #eeeeee;
}
