.stick {
  z-index: 2 !important;
  position: -webkit-sticky;
  position: sticky;
  top: 80px;
  margin-bottom: -230px;
  padding: 30px;
  margin-top: 130px;
}
.nonstick {
  z-index: 2 !important;
  position: relative;
  margin-bottom: -200px;
  padding: 30px;
  margin-top: 100px;
}
