.stick {
  z-index: 1 !important;
  position: -webkit-sticky;
  position: fixed;
  top: 0px;
  margin-bottom: -200px;
  padding: 30px;
  margin-top: 90px !important;
}
.nonstick {
  z-index: 2 !important;
  position: absolute;
  padding: 30px;
  margin-left: 6px;
}
.logo {
  transform: scale(0.7);
  max-height: 45px;
  min-height: 45px;
  max-width: 45px;
  min-width: 45px;
  border-radius: 50% !important;
  cursor: default;
}
